*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*:focus{
  border: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4f4;
  color: #333;
}
header{
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
main{
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
section{
  margin-bottom: 2rem;
}
form label {
  display: flex;
  margin: 0.5rem 0 0.2rem;
}
form input{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor:pointer;
}
button:hover{
  background-color: #555;
}
img{
  width: 100px;
}