*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


button{
  display: block;
  margin: 20px auto;
  background-color: crimson;
  color:whitesmoke;
  border:none;
  padding: 6px 10px;
  border-radius: 5px;
}
.contenedor_pop_up{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.pop_up{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 200px;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background-color: white;
  position: relative;
  }
.pop_up a{
  margin-top: 10px;
  background-color: crimson;
  color: whitesmoke;
  padding: 6px 10px;
}
.cierra_pop_up{
  position: absolute;
  top:5px;
  right:8px;
  cursor: pointer;
}
.contenidor{
  display: none;
}